@model Exemple_03.Models.Departement
@using Exemple_03.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DEPARTEMENT SICO/ASIM</title>
</head>
<body>
    <h2>Projets du département ASIM de SICO</h2>
    <table border="1">
        <form name="FormChoixChefPojet" action="/First/ChoisirChefProjet" method="post">
            <TR>

                <TD>
                    NOM PROJET
                </TD>
                <TD>
                    CHEF DE PROJET ?
                </TD>

            </TR>
            @foreach (ProjetInformatique p in Model.ListeProjetsDPT)
            {

                <TR>

                    <TD>@p.Nom</TD>
                    <TD>

                        <select name="@p.idProjet">
                            @foreach (Employe e in Model.Membres)
                            {

                                <option value="@e.IdEmploye">@e.Nom</option>

                            }
                        </select>

                    </TD>
                </TR>
            }
        </table>

        <input type="submit" value="valider" />
        </form>
    </body>
</html>
