
@{
    Layout = null;
    string vue = "Index";
    string titre = "Ma premiere page Asp.net";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vue = @vue Titre = @titre</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
