@model Cours.Models.ViewModelListePersonnes
@using Cours.Models

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Formulaire-GET</title>
</head>
<body>
    <h3>Formulaire-GET</h3>
  <p>Choisissez une personne</p>
  <form method="post" action="/Cours/ChoisirPersonne">
    <select name="SelectedId">
      @foreach (Personne2 p in Model.Personnes)
      {
        
        <option value="@p.IdPersonne">@p.Prénom @p.Nom</option>
      }
    </select>
     
    <input name="valider" type="submit" value="Valider" />
  </form>
</body>
</html>
