@model Exemple_03.Models.ActionModel04
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Action04</title>
</head>
<body>
    <div>
        <ul>
            <li>
                Courriel : @Model.Email
            </li>
            <li> Jour : @Model.Jour</li>
            <li> Appartenance politique : @Model.AppartenancePol</li>
            <li> Erreur : @Model.Erreurs</li>
        </ul>
    </div>
</body>
</html>
