@model Exemple_03.Models.MaFamille
@using Exemple_03.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Famille Labénère</title>
</head>
<body>
    <h2>Enfants de la famille Labénère</h2>
    
        <TABLE>

            @foreach (Personne p in Model.Famille)
            {
             <TR>
                    <TD>
                        Nom :
                    </TD>
                    <TD>
                        @p.Nom
                    </TD>
                    <TD>
                        Age :
                    </TD>
                    <TD>@p.Age</TD>

                    <TD> Sexe : </TD><TD>@p.Sexe</TD>
                
            </TR>
                    }
            </TABLE>
        
</body>
</html>
